.conteiner-product-status {
    display: flex;
    height: 80vh; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.conteiner-table-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    margin-left: 50px;
}

.table-wrapper {
    width: 100%; 
}

.conteiner-information-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    margin-left: 10px; 
}

.card-information {
    width: 70%; 
    padding: 20px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
}