.home-container {
  /* background-color: #30348C; */
  background-color: #BBBFBA;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: auto;
  margin-top: 20px;
}

.container-productos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container-productos {
    height: 740px;
  }
}

.container-productos input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: white;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.producto-card {
  background-color: rgb(172, 159, 159);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-card img {
  max-width: 100%;
  height: auto;
}

.producto-card h3 {
  margin: 10px 0;
}

.producto-card p {
  font-weight: bold;
}

.container-venta {
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.card-title {
  text-align: center;
  margin-bottom: 20px;
}

.productos-seleccionados {
  max-height: 200px;
  overflow-y: auto;
}

.cerrar-venta {
  display: block;
  margin: 20px auto;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cerrar-venta:hover {
  background-color: #cc0000;
}


@media screen and (min-width: 768px) {
  .home-container {
    grid-template-columns: 1fr 1fr;
  }
}

.agregar-producto {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.agregar-producto:hover {
  background-color: #0056b3;
}

.container-buttonModal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  left: 30px;
}

.close-button {
  width: 20px;
  background-color: #cc0000;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-70%);
  width: 20px;
  height: auto;
}

.search-products {
  padding-left: 30px;
  border: none;
  border-radius: 10px;
}