
 .lineProduct {
    width: 95%;
    display: flex;
    height: 1px;
    background-color: #7a7878;
    margin: 0 auto;
    margin-top: 30px;
}

.form-products {
    margin-top: 20px;
    margin-right: 22px;
}

.row_ProductsLeft, .row_ProductsRight {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row_ProductsLeft{
    margin-left: 8%;
}

.form-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.input-group-products, .input-group-productsDown {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;  
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.3));
    border: #000000;
}

.input-group-productsDown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.3));
    border: #000000;
}

.label-product{
    font-size: 16px; 
    margin-bottom: 5px;
}

.form-control-products {
    border-radius: 2px;
    background-color: #D9D9D9;
    border: #000000;
    border: none;
    padding: 15px;
    width: 85%;  
    max-width: 300px;
}

.add_product_button {
    border: none;
    border-radius: 5px;
    background-color: #30348C;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    margin-top: 5%;    
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.3));
}

.add_product_button:hover {
    background-color: #7a7878;
}

@media (max-width: 768px) {
    .form-up, .row_ProductsLeft, .row_ProductsRight {
        flex-direction: column;
        align-items: center;
    }

    .input-group-products, .input-group-productsDown {
        margin: 5% auto;
    }

    .form-control-products {
        width: 90%;  
    }

    .add_product_button {
        width: 90%;  
        margin-top: 20px;
    }

    .labelName {
        font-size: 16px; 
    }
}

.logo-Container-products{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px; 
    top: 50%;
    left: 50%;
}
  
.logo-Loading-products{
    width: 10vh; 
    height: 100%; 
    max-width: 100%; 
}

.rotating {
    animation: rotation 1.5s infinite linear; 
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }


