/* ProductList.css */

/* ProductList.css */

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.producto-card {
    background-color: #ffff;
    border: 1px solid #ccc;
    padding: 15px;
}

.producto-card img {
    max-width: 100%;
    height: auto;
}

.producto-card h3 {
    margin-bottom: 5px;
}

.producto-card p {
    font-weight: bold;
    color: #333;
}

.producto-card button {
    margin-top: 10px;
    width: 100%;
}

.agregar-button,
.detalles-button {
    color: white;
    border: none;
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

.agregar-button:hover,
.detalles-button:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; 
}

.modal-body {
    text-align: center;
}

.modal-body p.description {
    font-weight: bold;
    text-align: center;
}

.modal-body p {
    font-weight: normal;
    text-align: left; 
}

.modal-footer {
    border-top: 1px solid #ccc;
}

.close {
    background-color: red;
    color: black;
    margin: 0 auto; 
    margin-top: 5%;
    display: block; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


.agregar-button {
    background-color: rgb(6, 114, 6);
}

.agregar-button, .detalles-button, .edit-button, .close-button{
    color: white;
    border: none;
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

.detalles-button {
    background-color: #30348C;
}

.edit-button{
    width: 100px;
    background-color: #30348C;
}

.edit-button:hover {
    background-color: #7a7878;
}

.edit-button-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    left: 30px; 
  }
  
.close-button {
    width: 20px;
    background-color: #cc0000;
}

.container-buttonModal {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }
  
  .close_modal {
    border: none;
    background-color: #cc0000;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
  }


