.orders-container {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    /* Espaciado interno del contenedor */
    box-sizing: border-box;
    /* Incluye el padding en el cálculo del ancho */
    overflow-y: auto;
    /* Scroll vertical si el contenido es mayor que el alto del contenedor */
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.headercell {    
    font-weight: bold; /* Texto en negrita */
}

.filter-container {
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    margin-bottom: 20px;
    /* Añade un margen inferior para separar del contenido siguiente */
}

.filter-input {
    width: 95%;
}

.more-info-option {
   padding-left: 1%;
   width: 5%;

}

.status-delivered {
    width: 25%;
    background-color: #4caf50; /* Color de fondo verde */
    color: #fff; /* Color de texto blanco */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    display: inline-block; /* Para que el contenedor se ajuste al contenido */
}

.select-pending {
    width: 30%;
    background-color: #ff9800; /* Color de fondo naranja */
    color: #fff; /* Color de texto blanco */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
}

